.fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.mainComp{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appWindow{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.table-row{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}

.table-row h2{
    margin-bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}

.table-item{
    margin: 5px;
}

.submitButton{
    width: 100%;
}
